modules = ["web", "python-3.12", "nodejs-20", "bash"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Game"

[[workflows.workflow]]
name = "Run Game"
author = 37700530
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
